.form_div
  = form_for @product, :html => { :class => "form-horizontal product" } do |f|
    - if @product.errors.any?
      #error_expl.panel.panel-danger
        .panel-heading
          h3.panel-title
            = pluralize(@product.errors.count, "error")
            | prohibited this product from being saved:
        .panel-body
          ul
            - @product.errors.full_messages.each do |msg|
              li= msg
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'form-control'
      = error_span(@product[:name])
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_field :description, :class => 'form-control'
      = error_span(@product[:description])
    .control-group
      = f.label :price, :class => 'control-label'
      | &nbsp;(in cents)
      .controls
        = f.number_field :price_cents, :class => 'form-control'
      = error_span(@product[:price_cents])
    br
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default cancel'
