- model_class = Product
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:description)
      th= model_class.human_attribute_name(:price)
      th= t '.actions', :default => t("helpers.actions")
  tbody
    - @products.each do |product|
      tr
        td= link_to product.id, product_path(product)
        td= product.name
        td= product.description
        td= humanized_money_with_symbol product.price_cents
        td
          = link_to t('.edit', :default => t("helpers.links.edit")),
            edit_product_path(product), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
h2 New product
= render :partial => 'form' 