- model_class = Product
.page-header
  h1= t '.title', :default => model_class.model_name.human.titleize
dl.dl-horizontal
  dt
    strong
      = model_class.human_attribute_name(:name)
      | :
  dd= @product.name
  dt
    strong
      = model_class.human_attribute_name(:description)
      | :
  dd= @product.description
  dt
    strong
      = model_class.human_attribute_name(:price_cents)
      | :
  dd= humanized_money_with_symbol @product.price_cents
= link_to t('.back', :default => t("helpers.links.back")),products_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")),edit_product_path(@product), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")),product_path(@product), :method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

